{% extends 'adminlte/base.html' %}
{% load static %}
{% block meta %}
  {{block.super}}
    <script src="//d3js.org/d3.v4.min.js"></script>
    <head><link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}"></head>
{% endblock %}
{% block title %}My App{% endblock %}
{% block content %}
<body>
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="{% url 'load_csv' %}"><i class="fa fa-plus"></i> <span>Subir ficheros</span></a></li>
                <li><a href="{% url 'graph' %}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li><a href="{% url 'graficaGraph' %}"><i class="fa fa-area-chart"></i> <span>Grafo</span></a></li>
                <li class="active"><a href="{% url 'burbujas' %}"><i class="fa fa-bathtub"></i> <span>Diagrama de burbujas</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <div style="text-align: center;">
    	<svg width="1500" height="1000"></svg>
        <script>
            d3.json("{% url "seguidoresBurb" %}", function(error, graph) {
                  if (error) throw error;
            //console.log(graph)
            var diameter = 900;
            var color = d3.scaleOrdinal(d3.schemeCategory20);

            var bubble = d3.pack(graph)
                .size([diameter, diameter])
                .padding(1.5);

            var svg = d3.select("svg")
                //.append("svg")
                .attr("width", diameter+300)
                .attr("height", diameter)
                .attr("class", "bubble");

            var nodes = d3.hierarchy(graph)
                .sum(function(d) { return d.seguidores; });

            var node = svg.selectAll(".node")
                .data(bubble(nodes).descendants())
                .enter()
                .filter(function(d){
                    return  !d.children
                })
                .append("g")
                .attr("class", "node")
                .attr("transform", function(d) {
                    return "translate(" + d.x + "," + d.y + ")";
                });

            node.append("title")
                .text(function(d) {
                    return d.data.nombre + ": " + d.data.seguidores;
                });

            node.append("circle")
                .attr("r", function(d) {
                    return d.r;
                })
                .style("fill", function(d,i) {
                    return color(i);
                });

            node.append("text")
                .attr("dy", ".2em")
                .style("text-anchor", "middle")
                .text(function(d) {
                    return d.data.nombre.substring(0, d.r / 3);
                })
                .attr("font-family", "sans-serif")
                .attr("font-size", function(d){
                    return d.r/5;
                })
                .attr("fill", "white");

            node.append("text")
                .attr("dy", "1.3em")
                .style("text-anchor", "middle")
                .text(function(d) {
                    return d.data.seguidores;
                })
                .attr("font-family",  "Gill Sans", "Gill Sans MT")
                .attr("font-size", function(d){
                    return d.r/5;
                })
                .attr("fill", "white");

            d3.select(self.frameElement)
                .style("height", diameter + "px");

            });
        </script>
    </div>
</body>
{% endblock %}