{% extends 'adminlte/base.html' %}
{% load staticfiles%}
{% block meta %}
  {{block.super}}

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <head><link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}"></head>

    <style>
        .bar {
            fill: steelblue;
        }

        .highlight {
            fill: orange;
        }
    </style>
{% endblock %}



{% block title %}My App{% endblock %}
{% block content %}
    <style>
        .content-header{display:none;}
        h1{margin-top: 0; margin-bottom: 40px;}
    </style>
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <li><a href="{% url 'load_csv' %}"><i class="fa fa-plus"></i> <span>Subir ficheros</span></a></li>
                <li class="active"><a href="{% url 'graph' %}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li><a href="{% url 'graficaGraph' %}"><i class="fa fa-area-chart"></i> <span>Grafo</span></a></li>
                <li><a href="{% url 'burbujas' %}"><i class="fa fa-bathtub"></i> <span>Diagrama de burbujas</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <h1>Dashboard</h1>

   <div id="ej1"></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Users</span>
                <span class="info-box-number"><p id="total_users"></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-blue"><i class="fa fa-twitter"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Tweets</span>
                <span class="info-box-number"><p id="total_tweets"></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-green"><i class="fa fa-retweet"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Retweets</span>
                <span class="info-box-number"><p id="total_retweets"></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
             <div class="info-box">
              <!-- Apply any bg-* class to to the icon to color it -->
              <span class="info-box-icon bg-orange"><i class="fa fa-heart"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Total Favs</span>
                <span class="info-box-number"><p id="total_favs"></p></span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>

        <script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>

        <script>
            d3.json("{% url "info_panel" %}", function(error, data) {
                //var svg = d3.select("#ej1").append("svg").attr("width", 500).attr("height",50);
                document.getElementById('total_users').innerHTML = data.total_users;
                document.getElementById('total_tweets').innerHTML = data.total_tweets;
                document.getElementById('total_retweets').innerHTML = data.total_retweets;
                document.getElementById('total_favs').innerHTML = data.total_favs;

            });
        </script>

    <div class="box">
      <div class="box-body">
        <div>
            <div class="box-header with-border">

                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#Seguidores">Seguidores</a></li>
                    <li role="presentation"><a href="#Tweets">Tweets</a></li>
                    <li role="presentation"><a href="#Retweets">Retweets</a></li>
                    <li role="presentation"><a href="#Favoritos">Favoritos</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="Seguidores" class="tab-pane fade in active">
                    <h3>Usuarios con más seguidores</h3>
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#bars">Bars Chart</a></li>
                        <li role="presentation"><a href="#pie_chart">Pie Chart</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="bars" class="tab-pane fade in active" style="text-align: center;">
                            <svg id="svg_seguidores" width="1000" height="700"></svg>
                        </div>
                        <div id="pie_chart" class="tab-pane fade" style="text-align: center;margin-top: 4em;">
                            <svg id="svg_seguidores_pie" width="1000" height="500"></svg>

                        </div>
                    </div>
                </div>
                <div id="Tweets" class="tab-pane fade">
                    <h3>Usuarios con mayor número de tweets</h3>
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#tweets_bars">Bars Chart</a></li>
                        <li role="presentation"><a href="#tweets_pie_chart">Pie Chart</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tweets_bars" class="tab-pane fade in active"  style="text-align: center;">
                            <svg id="svg_tweets" width="1000" height="700"></svg>
                        </div>
                        <div id="tweets_pie_chart" class="tab-pane fade" style="text-align: center;margin-top: 4em;">
                            <svg id="svg_tweets_pie" width="1000" height="500"></svg>
                        </div>
                    </div>
                </div>
                <div id="Retweets" class="tab-pane fade">
                    <h3>Usuarios con mayor número de retweets</h3>

                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#retweets_bars">Bars Chart</a></li>
                        <li role="presentation"><a href="#retweets_pie_chart">Pie Chart</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="retweets_bars" class="tab-pane fade in active" style="text-align: center;">
                            <svg id="svg_retweets" width="1000" height="700"></svg>
                        </div>
                        <div id="retweets_pie_chart" class="tab-pane fade" style="text-align: center;margin-top: 4em;">
                            <svg id="svg_retweets_pie" width="1000" height="500"></svg>
                        </div>
                    </div>
                </div>
                <div id="Favoritos" class="tab-pane fade">
                    <h3>Usuarios con más favoritos recibidos</h3>
                    <ul class="nav nav-tabs nav-justified">
                        <li role="presentation" class="active"><a href="#favs_bars">Bars Chart</a></li>
                        <li role="presentation"><a href="#favs_pie_chart">Pie Chart</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="favs_bars" class="tab-pane fade in active" style="text-align: center;">
                            <svg id="svg_favoritos" width="1000" height="700"></svg>
                        </div>
                        <div id="favs_pie_chart" class="tab-pane fade" style="text-align: center;margin-top: 4em;">
                            <svg id="svg_favoritos_pie" width="1000" height="500"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    

<script type="text/javascript">
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
        $(".nav-pills a").click(function(){
            $(this).tab('show');
        });
    });
</script>


<script>
    var svg_seguidores = d3.select("#svg_seguidores"),
        margin = 200,
        width = svg_seguidores.attr("width") - margin,
        height = svg_seguidores.attr("height") - margin;

    var x_seguidores = d3.scaleBand().range([0, width]).padding(0.4),
        y_seguidores = d3.scaleLinear().range([height, 0]);

    var g_seguidores = svg_seguidores.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");

    d3.json("{% url "influencers_bars" %}", function(error, data) {
        //datos = JSON.parse(data);
        //console.log(datos[0]);
        //console.log(datos[0].fields.nombre);

        if (error) {
            throw error;
        }

        /*
        nombre = [];
        seguidores = [];

        for (var i = datos.length - 1; i >= 0; i--) {
            nombre.push(datos[i].fields.nombre);
            seguidores.push(datos[i].fields.seguidores);
        }
        //console.log(seguidores);
        console.log(d3.max(d3.values(seguidores)));


        x.domain(nombre);
        y.domain([0, d3.max(seguidores)]);*/

        x_seguidores.domain(data.map(function(d) { return d.nombre; }));
        y_seguidores.domain([0, d3.max(data, function(d) { return d.seguidores; })]);


        //console.log(y);

        g_seguidores.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(x_seguidores))
         .append("text")
         .attr("y", height - 200)
         .attr("x", width - 350)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Nombre de usuarios");

        g_seguidores.append("g")
         .call(d3.axisLeft(y_seguidores).tickFormat(function(d){
             return d;
         }).ticks(10))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-7.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Número de seguidores");

        g_seguidores.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .on("mouseover", onMouseOver_seguidores) //Add listener for the mouseover event
         .on("mouseout", onMouseOut_seguidores)   //Add listener for the mouseout event
         .attr("x", function(d) { return x_seguidores(d.nombre); })
         .attr("y", function(d) { return y_seguidores(d.seguidores); })
         .attr("width", x_seguidores.bandwidth())
         .transition()
         .ease(d3.easeLinear)
         .duration(400)
         .delay(function (d, i) {
             return i * 50;
         })
         .attr("height", function(d) { return height - y_seguidores(d.seguidores); });
    });

    //mouseover event handler function
    function onMouseOver_seguidores(d, i) {
        d3.select(this).attr('class', 'highlight');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_seguidores.bandwidth() + 5)
          .attr("y", function(d) { return y_seguidores(d.seguidores) - 10; })
          .attr("height", function(d) { return height - y_seguidores(d.seguidores) + 10; });

        g_seguidores.append("text")
         .attr('class', 'val')
         .attr('x', function() {
             return x_seguidores(d.nombre);
         })
         .attr('y', function() {
             return y_seguidores(d.seguidores) - 15;
         })
         .text(function() {
             return [ 'Seguidores: ' +d.seguidores];  // Value of the text
         });
    }

    //mouseout event handler function
    function onMouseOut_seguidores(d, i) {
        // use the text label class to remove label on mouseout
        d3.select(this).attr('class', 'bar');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_seguidores.bandwidth())
          .attr("y", function(d) { return y_seguidores(d.seguidores); })
          .attr("height", function(d) { return height - y_seguidores(d.seguidores); });

        d3.selectAll('.val')
          .remove()
    }
</script>

<script>

    var svg_seguidores_pie = d3.select("#svg_seguidores_pie"),
        width = svg_seguidores_pie.attr("width"),
        height = svg_seguidores_pie.attr("height"),
        radius = Math.min(width, height) / 2;

     var x_seguidores_pie = d3.scaleBand().range([0, width]).padding(0.4),
        y_seguidores_pie = d3.scaleLinear().range([height, 0]);

    var g_seguidores_pie = svg_seguidores_pie.append("g")
               .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var color_seguidores_pie = d3.scaleOrdinal(['#ff851b','#00a65a','#0073b7','#dd4b39','#7460ef']);

    var path_seguidores_pie = d3.arc()
                 .outerRadius(radius - 10)
                 .innerRadius(0);


    d3.json("{% url "influencers_pie" %}",function(data) {

        var pie_seguidores_pie = d3.pie().value(function(d) { 
          return d.seguidores; 
        });
          
        var arc_seguidores_pie = g_seguidores_pie.selectAll(".arc")
                   .data(pie_seguidores_pie(data))
                   .enter().append("g")
                   .attr("class", "arc");
           x_seguidores_pie.domain(data.map(function(d) { return d.nombre; }));
        y_seguidores_pie.domain([0, d3.max(data, function(d) { return d.seguidores; })]);


        arc_seguidores_pie.append("path")
                   .attr("d", path_seguidores_pie)
                   .attr("fill", function(d) { return color_seguidores_pie(d.data.nombre); })
                    .on("mouseover", function (d) {

                     d3.select(this).transition().attr("fill", "#64F334").attr("text", "prueba");

                    })
                    .data(pie_seguidores_pie(data))
                    .on("mouseout", function(d) {
                      d3.select(this).transition().attr("fill", function(d) { return color_seguidores_pie(d.data.nombre); });
                    d3.selectAll('.val')
                    .remove()
                  });



          var legend = d3.select('#svg_seguidores_pie')
        .append("g")
        .selectAll("g")
        .data(color_seguidores_pie.domain())
        .enter()
        .append('g')
          .attr('class', 'legend')
          .attr('transform', function(d, i) {
            var height = 30;
            var x = 0;
            var y = i * height;
            return 'translate(' + x + ',' + y + ')';
        });

        legend.append('rect')
            .attr('width', 30)
            .attr('height', 30)
            .style('fill', color_seguidores_pie)
            .style('stroke', color_seguidores_pie);

        legend.append('text')
            .data(pie_seguidores_pie(data))
            .attr('x', 30 + 10)
            .attr('y', 30 - 10)
            .text(function(d) { return  d.data.nombre+": " + d.data.seguidores; });

    });


</script>


<script>
    var svg_tweets = d3.select("#svg_tweets"),
        margin = 200,
        width = svg_tweets.attr("width") - margin,
        height = svg_tweets.attr("height") - margin;

    var x_tweets = d3.scaleBand().range([0, width]).padding(0.4),
        y_tweets = d3.scaleLinear().range([height, 0]);

    var g_tweets = svg_tweets.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");

    d3.json("{% url "more_tweets_bars" %}", function(error, data) {
        //datos = JSON.parse(data);
        //console.log(datos[0]);
        //console.log(datos[0].fields.nombre);

        if (error) {
            throw error;
        }

        /*
        nombre = [];
        seguidores = [];

        for (var i = datos.length - 1; i >= 0; i--) {
            nombre.push(datos[i].fields.nombre);
            seguidores.push(datos[i].fields.seguidores);
        }
        //console.log(seguidores);
        console.log(d3.max(d3.values(seguidores)));


        x.domain(nombre);
        y.domain([0, d3.max(seguidores)]);*/

        x_tweets.domain(data.map(function(d) { return d.nombre; }));
        y_tweets.domain([0, d3.max(data, function(d) { return d.n_tweets; })]);


        //console.log(y);

        g_tweets.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(x_tweets))
         .append("text")
         .attr("y", height - 250)
         .attr("x", width - 100)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Nombre de usuarios");

        g_tweets.append("g")
         .call(d3.axisLeft(y_tweets).tickFormat(function(d){
             return d;
         }).ticks(10))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-7.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Número de tweets");

        g_tweets.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .on("mouseover", onMouseOver_tweets) //Add listener for the mouseover event
         .on("mouseout", onMouseOut_tweets)   //Add listener for the mouseout event
         .attr("x", function(d) { return x_tweets(d.nombre); })
         .attr("y", function(d) { return y_tweets(d.n_tweets); })
         .attr("width", x_tweets.bandwidth())
         .transition()
         .ease(d3.easeLinear)
         .duration(400)
         .delay(function (d, i) {
             return i * 50;
         })
         .attr("height", function(d) { return height - y_tweets(d.n_tweets); });
    });

    //mouseover event handler function
    function onMouseOver_tweets(d, i) {
        d3.select(this).attr('class', 'highlight');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_tweets.bandwidth() + 5)
          .attr("y", function(d) { return y_tweets(d.n_tweets) - 10; })
          .attr("height", function(d) { return height - y_tweets(d.n_tweets) + 10; });

        g_tweets.append("text")
         .attr('class', 'val')
         .attr('x', function() {
             return x_tweets(d.nombre);
         })
         .attr('y', function() {
             return y_tweets(d.n_tweets) - 15;
         })
         .text(function() {
             return [ 'Tweets: ' +d.n_tweets];  // Value of the text
         });
    }

    //mouseout event handler function
    function onMouseOut_tweets(d, i) {
        // use the text label class to remove label on mouseout
        d3.select(this).attr('class', 'bar');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_tweets.bandwidth())
          .attr("y", function(d) { return y_tweets(d.n_tweets); })
          .attr("height", function(d) { return height - y_tweets(d.n_tweets); });

        d3.selectAll('.val')
          .remove()
    }
</script>

<script>

    var svg_tweets_pie = d3.select("#svg_tweets_pie"),
        width = svg_tweets_pie.attr("width"),
        height = svg_tweets_pie.attr("height"),
        radius = Math.min(width, height) / 2;

    
    var g_tweets_pie = svg_tweets_pie.append("g")
               .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var color_tweets_pie = d3.scaleOrdinal(['#ff851b','#00a65a','#0073b7','#dd4b39','#7460ef']);

    var path_tweets_pie = d3.arc()
                 .outerRadius(radius - 10)
                 .innerRadius(0);


    d3.json("{% url "more_tweets_pie" %}",function(data) {

        var pie_tweets_pie = d3.pie().value(function(d) { 
          return d.n_tweets; 
        });
          
        var arc_tweets_pie = g_tweets_pie.selectAll(".arc")
                   .data(pie_tweets_pie(data))
                   .enter().append("g")
                   .attr("class", "arc");
        var x_tweets_pie = d3.scaleBand().range([0, width]).padding(0.4),
            y_tweets_pie = d3.scaleLinear().range([height, 0]);


        arc_tweets_pie.append("path")
                   .attr("d", path_tweets_pie)
                   .attr("fill", function(d) { return color_tweets_pie(d.data.nombre); })
                    .on("mouseover", function (d) {

                     d3.select(this).transition().attr("fill", "#64F334").attr("text", "prueba");

                    })
                    .data(pie_tweets_pie(data))
                    .on("mouseout", function(d) {
                      d3.select(this).transition().attr("fill", function(d) { return color_tweets_pie(d.data.nombre); });
                    d3.selectAll('.val')
                    .remove()
                  });



           var legend = d3.select('#svg_tweets_pie')
        .append("g")
        .selectAll("g")
        .data(color_tweets_pie.domain())
        .enter()
        .append('g')
          .attr('class', 'legend')
          .attr('transform', function(d, i) {
            var height = 30;
            var x = 0;
            var y = i * height;
            return 'translate(' + x + ',' + y + ')';
        });

        legend.append('rect')
            .attr('width', 30)
            .attr('height', 30)
            .style('fill', color_tweets_pie)
            .style('stroke', color_tweets_pie);

        legend.append('text')
            .data(pie_tweets_pie(data))
            .attr('x', 30 + 10)
            .attr('y', 30 - 10)
            .text(function(d) { return  d.data.nombre+": " + d.data.n_tweets; });

    });
</script>


<script>
    var svg_retweets = d3.select("#svg_retweets"),
        margin = 200,
        width = svg_retweets.attr("width") - margin,
        height = svg_retweets.attr("height") - margin;

    var x_retweets = d3.scaleBand().range([0, width]).padding(0.4),
        y_retweets = d3.scaleLinear().range([height, 0]);

    var g_retweets = svg_retweets.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");

    d3.json("{% url "more_retweets_bars" %}", function(error, data) {
        if (error) {
            throw error;
        }

        x_retweets.domain(data.map(function(d) { return d.retuiteado; }));
        y_retweets.domain([0, d3.max(data, function(d) { return d.count_retweets; })]);


        //console.log(y);

        g_retweets.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(x_retweets))
         .append("text")
         .attr("y", height - 250)
         .attr("x", width - 100)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Nombre de usuarios");

        g_retweets.append("g")
         .call(d3.axisLeft(y_retweets).tickFormat(function(d){
             return d;
         }).ticks(10))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-7.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Número de retweets");

        g_retweets.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .on("mouseover", onMouseOver_retweets) //Add listener for the mouseover event
         .on("mouseout", onMouseOut_retweets)   //Add listener for the mouseout event
         .attr("x", function(d) { return x_retweets(d.retuiteado); })
         .attr("y", function(d) { return y_retweets(d.count_retweets); })
         .attr("width", x_retweets.bandwidth())
         .transition()
         .ease(d3.easeLinear)
         .duration(400)
         .delay(function (d, i) {
             return i * 50;
         })
         .attr("height", function(d) { return height - y_retweets(d.count_retweets); });
    });

    //mouseover event handler function
    function onMouseOver_retweets(d, i) {
        d3.select(this).attr('class', 'highlight');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_retweets.bandwidth() + 5)
          .attr("y", function(d) { return y_retweets(d.count_retweets) - 10; })
          .attr("height", function(d) { return height - y_retweets(d.count_retweets) + 10; });

        g_retweets.append("text")
         .attr('class', 'val')
         .attr('x', function() {
             return x_retweets(d.retuiteado);
         })
         .attr('y', function() {
             return y_retweets(d.count_retweets) - 15;
         })
         .text(function() {
             return [ 'Retweets: ' +d.count_retweets];  // Value of the text
         });
    }

    //mouseout event handler function
    function onMouseOut_retweets(d, i) {
        // use the text label class to remove label on mouseout
        d3.select(this).attr('class', 'bar');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_retweets.bandwidth())
          .attr("y", function(d) { return y_retweets(d.count_retweets); })
          .attr("height", function(d) { return height - y_retweets(d.count_retweets); });

        d3.selectAll('.val')
          .remove()
    }
</script>

<script>

    var svg_retweets_pie = d3.select("#svg_retweets_pie"),
        width = svg_retweets_pie.attr("width"),
        height = svg_retweets_pie.attr("height"),
        radius = Math.min(width, height) / 2;
    
    var g_retweets_pie = svg_retweets_pie.append("g")
               .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var color_retweets_pie = d3.scaleOrdinal(['#ff851b','#00a65a','#0073b7','#dd4b39','#7460ef']);

    var path_retweets_pie = d3.arc()
                 .outerRadius(radius - 10)
                 .innerRadius(0);


    d3.json("{% url "more_retweets_pie" %}",function(data) {

        var pie_retweets_pie = d3.pie().value(function(d) { 
          return d.count_retweets; 
        });
          
        var arc_retweets_pie = g_retweets_pie.selectAll(".arc")
                   .data(pie_retweets_pie(data))
                   .enter().append("g")
                   .attr("class", "arc");
        var x_retweets_pie = d3.scaleBand().range([0, width]).padding(0.4),
            y_retweets_pie = d3.scaleLinear().range([height, 0]);


        arc_retweets_pie.append("path")
                     .attr("d", path_retweets_pie)
                   .attr("fill", function(d) { return color_retweets_pie(d.data.retuiteado); })
                    .on("mouseover", function (d) {

                     d3.select(this).transition().attr("fill", "#64F334").attr("text", "prueba");

                  }).data(pie_retweets_pie(data))
            .on("mouseout", function (d) {
                d3.select(this).transition().attr("fill", function (d) {
                    return color_retweets_pie(d.data.retuiteado);
                });
                d3.selectAll('.val')
                    .remove()
            });


        var legend = d3.select('#svg_retweets_pie')
        .append("g")
        .selectAll("g")
        .data(color_retweets_pie.domain())
        .enter()
        .append('g')
          .attr('class', 'legend')
          .attr('transform', function(d, i) {
            var height = 30;
            var x = 0;
            var y = i * height;
            return 'translate(' + x + ',' + y + ')';
        });

        legend.append('rect')
            .attr('width', 30)
            .attr('height', 30)
            .style('fill', color_retweets_pie)
            .style('stroke', color_retweets_pie);

        legend.append('text')
            .data(pie_retweets_pie(data))
            .attr('x', 30 + 10)
            .attr('y', 30 - 10)
            .text(function(d) { return  d.data.retuiteado+": " + d.data.count_retweets; });
    });
</script>


<script>
    var svg_favs = d3.select("#svg_favoritos"),
        margin = 200,
        width = svg_favs.attr("width") - margin,
        height = svg_favs.attr("height") - margin;

    var x_favs = d3.scaleBand().range([0, width]).padding(0.4),
        y_favs = d3.scaleLinear().range([height, 0]);

    var g_favs = svg_favs.append("g")
            .attr("transform", "translate(" + 100 + "," + 100 + ")");

    d3.json("{% url "more_favs_bars" %}", function(error, data) {
        if (error) {
            throw error;
        }

        x_favs.domain(data.map(function(d) { return d.nombre; }));
        y_favs.domain([0, d3.max(data, function(d) { return d.n_favoritos; })]);



        g_favs.append("g")
         .attr("transform", "translate(0," + height + ")")
         .call(d3.axisBottom(x_favs))
         .append("text")
         .attr("y", height - 250)
         .attr("x", width - 100)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Nombre de usuarios");

        g_favs.append("g")
         .call(d3.axisLeft(y_favs).tickFormat(function(d){
             return d;
         }).ticks(10))
         .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-7.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Número de favoritos");

        g_favs.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .on("mouseover", onMouseOver_favs) //Add listener for the mouseover event
         .on("mouseout", onMouseOut_favs)   //Add listener for the mouseout event
         .attr("x", function(d) { return x_favs(d.nombre); })
         .attr("y", function(d) { return y_favs(d.n_favoritos); })
         .attr("width", x_favs.bandwidth())
         .transition()
         .ease(d3.easeLinear)
         .duration(400)
         .delay(function (d, i) {
             return i * 50;
         })
         .attr("height", function(d) { return height - y_favs(d.n_favoritos); });
    });

    //mouseover event handler function
    function onMouseOver_favs(d, i) {
        d3.select(this).attr('class', 'highlight');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_favs.bandwidth() + 5)
          .attr("y", function(d) { return y_favs(d.n_favoritos) - 10; })
          .attr("height", function(d) { return height - y_favs(d.n_favoritos) + 10; });

        g_favs.append("text")
         .attr('class', 'val')
         .attr('x', function() {
             return x_favs(d.nombre);
         })
         .attr('y', function() {
             return y_favs(d.n_favoritos) - 15;
         })
         .text(function() {
             return [ 'Favoritos: ' +d.n_favoritos];  // Value of the text
         });
    }

    //mouseout event handler function
    function onMouseOut_favs(d, i) {
        // use the text label class to remove label on mouseout
        d3.select(this).attr('class', 'bar');
        d3.select(this)
          .transition()     // adds animation
          .duration(400)
          .attr('width', x_favs.bandwidth())
          .attr("y", function(d) { return y_favs(d.n_favoritos); })
          .attr("height", function(d) { return height - y_favs(d.n_favoritos); });

        d3.selectAll('.val')
          .remove()
    }
</script>

<script>

     var svg_favs_pie = d3.select("#svg_favoritos_pie"),
        width = svg_favs_pie.attr("width"),
        height = svg_favs_pie.attr("height"),
        radius = Math.min(width, height) / 2;

    var g_favs_pie = svg_favs_pie.append("g")
               .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var color_favs_pie = d3.scaleOrdinal(['#ff851b','#00a65a','#0073b7','#dd4b39','#7460ef']);



    var path_favs_pie = d3.arc()
                 .outerRadius(radius - 10)
                 .innerRadius(0);


    d3.json("{% url "more_favs_pie" %}",function(data) {
        var pie_favs_pie = d3.pie().value(function (d) {
            return d.seguidores;
        });

        var arc_favs_pie = g_favs_pie.selectAll(".arc")
            .data(pie_favs_pie(data))
            .enter().append("g")
            .attr("class", "arc");
        var x_favs_pie = d3.scaleBand().range([0, width]).padding(0.4),
            y_favs_pie = d3.scaleLinear().range([height, 0]);


        arc_favs_pie.append("path")
            .attr("d", path_favs_pie)
            .attr("fill", function (d) {
                return color_favs_pie(d.data.nombre);
            })
            .on("mouseover", function (d) {

                d3.select(this).transition().attr("fill", "#64F334").attr("text", "prueba");
            })
            .data(pie_favs_pie(data))
            .on("mouseout", function (d) {
                d3.select(this).transition().attr("fill", function (d) {
                    return color_favs_pie(d.data.nombre);
                });
                d3.selectAll('.val')
                    .remove()
            });


         var legend = d3.select('#svg_favoritos_pie')
        .append("g")
        .selectAll("g")
        .data(color_favs_pie.domain())
        .enter()
        .append('g')
          .attr('class', 'legend')
          .attr('transform', function(d, i) {
            var height = 30;
            var x = 0;
            var y = i * height;
            return 'translate(' + x + ',' + y + ')';
        });

        legend.append('rect')
            .attr('width', 30)
            .attr('height', 30)
            .style('fill', color_favs_pie)
            .style('stroke', color_favs_pie);

        legend.append('text')
            .data(pie_favs_pie(data))
            .attr('x', 30 + 10)
            .attr('y', 30 - 10)
            .text(function(d) { return  d.data.nombre+": " + d.data.seguidores; });
    });
</script>






















  {% endblock %}
