{% extends 'adminlte/base.html' %}

{% load static %}
{%  block meta %}
    {{block.super}}
    <head><link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}"></head>
{% endblock  %}
{% block title %}My App{% endblock %}
{% block content %}
    <style>
        .content-header{display:none;}
        h1{margin-top: 0}
    </style>

    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menu</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="{% url 'load_csv' %}"><i class="fa fa-plus"></i> <span>Subir ficheros</span></a></li>
                <li><a href="{% url 'graph' %}"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                <li><a href="{% url 'graficaGraph' %}"><i class="fa fa-area-chart"></i> <span>Grafo</span></a></li>
                <li><a href="{% url 'burbujas' %}"><i class="fa fa-bathtub"></i> <span>Diagrama de burbujas</span></a></li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>



    <h1>Subir ficheros</h1>

    {% if uploaded_file_url %}
        <div class="alert alert-error" role="alert">Subida de ficheros incorrecta.</div>

    {% endif %}


    <form action="{% url "simple_upload" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="box" style="
    height: 180px;">
                  <div class="box-header with-border">
                    <h3 class="box-title">Fichero Nodos</h3>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <p> El fichero CSV debe contener las siguientes columnas:
                    </p>
                    <span class="label label-primary">Retuiteador</span>
                    <span class="label label-primary">Retuiteado</span>
                    <span class="label label-primary">Id_owner</span>
                    <span class="label label-primary">ID_retweeter</span>
                    <input style="margin-top:20px" type="file" name="nodos">
                  </div>
                  <!-- /.box-body -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="box" style="
    height: 180px;">
                  <div class="box-header with-border">
                    <h3 class="box-title">Fichero Info_Nodos</h3>
                    <div class="box-tools pull-right">
                    </div>
                    <!-- /.box-tools -->
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <p> El fichero CSV debe contener las siguientes columnas:
                    </p>
                    <span class="label label-primary">Nombre nodos (screen_ name)</span>
                    <span class="label label-primary">Seguidores</span>
                    <span class="label label-primary">
                    Amigos (siguiendo)</span>
                    <span class="label label-primary">
                    Tweets emitidos</span>
                    <span class="label label-primary">Veces favorito</span>
                    <input style="margin-top:20px"  type="file" name="info_nodos">
                  </div>
                  <!-- /.box-body -->
                </div>
            </div>

        </div>
        <div style="text-align: center;"> 
            <button class="btn btn-primary" type="submit">Subir</button>

        </div>


    </form>


      

    {% endblock %}
